# VSCode
.vscode/
.DS_Store

# Results, images, and cache
soap_images/
soap_intermediates/
soap_debug/
soap_results/
.soap_cache/

# Byte-compiled / optimized / DLL files
__pycache__/

# Sphinx documentation
docs/_build/

# Jupyter Notebooks
**.ipynb
.ipynb_checkpoints

# Environments
.venv
.temp

# Git
.coverage

# Local scratch
*scratch.py
notes.md
